VITE_I18N_LOCALE=en-US
VITE_I18N_FALLBACK_LOCALE=en-US
VITE_CACHE_MAX_AGE=3600
VITE_VIEW_SIZE=10
VITE_ALIAS=
VITE_DEFAULT_ALIAS=
VITE_DEFAULT_LOG_LEVEL=error
VITE_APP_PERMISSION_ID="PRODUCTS_APP_VIEW"
VITE_LAUNCHPAD_URL=https://launchpad.hotwax.io/login
VITE_OMS_TYPE="MOQUI"
