VITE_I18N_LOCALE=en-US
VITE_I18N_FALLBACK_LOCALE=en-US
VITE_CACHE_MAX_AGE=3600
VITE_VIEW_SIZE=10
VITE_ALIAS=
VITE_DEFAULT_ALIAS=
VITE_DEFAULT_LOG_LEVEL=error
VITE_APP_PERMISSION_ID="PRODUCTS_APP_VIEW"
# Multi-version app hosting config (single JSON object). buildVersion: "" = root bootstrap, "vX.Y.Z" = versioned build.
VITE_APP_VERSION_CONFIG={"appId":"PRODUCTS","environmentTypeId":"AppEnvDev","buildVersion":""}
VITE_LAUNCHPAD_URL=https://launchpad.hotwax.io/login
VITE_OMS_TYPE=
